# macOS system files
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node.js (Frontend)
node_modules/
dist/
dist-ssr/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
*.local

# PHP (Backend)
vendor/
composer.lock

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/editor folders and files
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
